body {
    position: relative;
}
/*---- nav ---- */
.navbar-fixed-top {
    position: fixed;
    border-color: rgba(255, 255,255,0.2);
    background-color: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.on-scroll {
    background-color: #fff !important;
}
.my_name {
    font-size: x-large;
}
/*---- hero ----- */
#hero {
    background-image: url(./images/hero_background.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    top: 0;
}
.hero_content {
position: relative;
padding-top: 200px;
left: -80px;
}
@media (max-width: 576px) {
    .hero_content {
        left: -40px;
    }
}
.hero_content>h1 {
    font-size: 4em;
    font-family:Arial, Helvetica, sans-serif;
}
@media (max-width: 576px) {
    .hero_content {
        font-size: 0.7em;
    }
}
.hero_content>h3 {
    padding-right: 90px;
}
@media (max-width: 576px) {
    .hero_content>h3 {
        font-size: 2em;
        padding-right: 45px;
    }
}
.hero_content>.divider {
    width: 400px;
    margin-right: 0px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
}
@media (max-width: 576px) {
    .hero_content>.divider {
        width: 300px;
    }
}
.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.linkedin {
    margin-right: 120px;
    margin-left: 50px;
}
@media (max-width: 576px) {
    .linkedin {
        margin-right: 60px;
        margin-left: 30px;
    }
}

/*--- Portfolio ---*/
.portfolio_section {
    margin-top: 600px;
    background-color: #fff;
}
.portfolio_header {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.aspectRatioBox {
    padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
    background-size: cover;
    background-position: center;
}
